body {
    font-family: $font;
    font-weight: 400;
}

.text-paragraph {
    width: 30%;
    max-width: 25.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -60%);

    @media only screen and (max-width: $Tablet-landscape) {
        width: 40%;
        left: 50%;
        transform: translate(5%, -40%);
    }

    @media only screen and (max-width: $Tablet-portrait) {
        transform: translate(5%, -90%);
    }

    @media only screen and (max-width: $Phone) {
        top: 30rem;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 100%;
        text-align: center;
        margin: 5rem auto 0 auto;
    }

    .text-main {
        font-size: 2rem;
        font-weight: 500;
        color: $color-very-dark;
        margin-bottom: 1.5rem;

        @media only screen and (max-width: $Phone) {
            font-size: 2.8rem;
        }
    }

    .text-sub {
        line-height: 1.6;
        color: $color-dark-grayish;

        @media only screen and (max-width: $Phone) {
            position: static;
            width: 85%;
            text-align: center;
            margin: 0 auto 2rem auto;
        }
    }
}


